<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>To-do Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="form">
        <form method="post">
            <input required type="text" name="item" placeholder="Tarefa">
            <button type="submit">Adicionar</button>
        </form>
    </div>
    <div class="tabela">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quando</th>
                    <th>Terminado?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for i in itens %}
                    {% if i.done == False %}
                    <tr>
                        <td>{{i.item}}</td>
                        <td>{{i.when.date()}}</td>
                        <td><a href="/home/update/{{i.id}}">✅</a></td>
                        <td><a href="/home/delete/{{i.id}}">❌</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <th>Items finalizados</th>
                <th></th>
            </thead>
            <tbody>
            {% for i in itens %}
                {% if i.done == True %}
                    <tr>
                        <td><s>{{i.item}}</s></td>
                        <td><a href="/home/delete/{{i.id}}">❌</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    
   
</body>
</html>